<body data-spy="scroll" data-target=".navbar">
<ul class="thumbnails">
 
  <li class="span6">
    <div class="thumbnail">
      <%= link_to image_tag("sonnet1.png", alt: "Sonnet1"), sonnet1_path %>
    </div>
  </li>

  <li class="span6">
    <div class="thumbnail">
      <%= link_to image_tag("sonnet2.png", alt: "Sonnet2"), sonnet2_path %>
    </div>
  </li>
  <li class="span6">
    <div class="thumbnail">
      <%= link_to image_tag("sonnet3.png", alt: "Sonnet3"), sonnet3_path %>
    </div>
  </li>
  <li class="span6">
    <div class="thumbnail">
      <%= link_to image_tag("sonnet4.png", alt: "Sonnet4"), sonnet4_path %>
    </div>
  </li>
  <li class="span6">
    <div class="thumbnail">
      <%= link_to image_tag("sonnet5.png", alt: "Sonnet5"), sonnet5_path %>
    </div>
  </li>
</ul>
</body>
