<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Sonnet Me", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    root_path %></li>
          <li><%= link_to "More",    more_path %></li>
          <li><%= link_to "S1", sonnet1_path %></li>
			<li><%= link_to "S2", sonnet2_path %></li>
			<li><%= link_to "S3", sonnet3_path %></li>
			<li><%= link_to "S4", sonnet4_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>